page-home {
    .cover{
        background-image: url('../assets/activities_background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    ion-row {
        h6,p {
            margin: 0;
        }
        p{
            font-size: 1.1rem;
        }
    }
}
